<div id="header">
            <a href="/">
            <div id="logo">
                <img src="assets/images/header/logo.png" alt="SpecElect">
                <div id="logo__body">
                    Интернет-магазин <br> электроматериалов <br> и инструментов
                </div>
            </div>
            </a>
            <div id="tel">
                <img src="assets/images/header/tel_icon.png" alt="tel">  
                <div id="tel-content">
                    <div id="tel-content__header">+7 (495) 761-47-99</div>
                    <div id="tel-content__body">режим работы <span>с 10:00 до 20:00</span></div>
                </div>
            </div>
            <div id="cart">
                <img src="assets/images/header/cart.svg" alt="cart">  
                <div id="cart-content">
                    <div id="cart-content__title">Корзина</div>
                    <div id="cart-content__body">Товаров <b>0</b> на сумму <b>0</b> </div>
                </div>
            </div>
    </div>