//header///////////////////
#header
    width 100%
    display flex
    justify-content space-between
    height 50px
    // border 2px solid red
    // margin-top 28px

#logo
    display flex
#logo img   
    display block
    width 184px
    height 50px
#logo__body
    color #5b5b5b
    font-family "Arial MT"
    font-size 14px
    font-weight 400
    line-height 16px
    letter-spacing 0.35px
    margin 2px 0 0 18px
#header a
    text-decoration: none
    
///////////telephpen////////
#tel
    display flex

#tel>img
    display block
    width 36px
    height 36px
    margin: 1px 0 3px 0
#tel-content
    display flex
    flex-direction column
    // margin-left 11px

#tel-content__header
    color #e86625
    font-size 20px 
    font-family Tahoma
    font-size 20px
    font-weight 700
    line-height 24px
    margin-left 9px
#tel-content__body
    margin 2px 0 0 11px
    color #363636
    font-family Calibri
    font-size 15px
    font-weight 400
    line-height 20px
    
#tel-content__body>span
    color #6e6e6e

/////cart group///////////////
#cart
    display flex
    background-color #f4f4f4
    border-radius 8px
    width 253px
    height 61px

#cart>img
    display block
    margin: 4px 0px 6px 8px

#cart-content
    margin: 6px 13px 12px 9px
    width 172px
    height 35px
    color #5e5e5e
    font-family Calibri
    font-size 15px
    font-weight 400
#cart-content__title
    color #454545
    font-family "Calibri - Bold"
    font-size 19px
    font-weight 700
    letter-spacing 0.47px
#cart-content__body
    font-size:  15px
    font-family Calibri
    line-height 22px    
#cart-body>b
    text-decoration: underline
    color #000000
    font-family Calibri
    line-height 20px


///////left menu & search
