<div class="footer">
    <div class="footer__content">
            <div>
                    <div class="footer__title">Каталог товаров</div>
                    <ul class=footer__list>
                        <li >Автоматы Дифавтоматы УЗО Контакторы Предохранители Реле</li>
                        <li>Электросчетчики Трансформаторы тока</li>
                        <li>Бытовые принадлежности</li>
                        <li>Инструменты и оборудование</li>
                        <li>Кабель провод</li>
                        <li>Кабельные каналы Гофра Металлорукав Аксессуары Крепеж</li>
                        <li>Клеммы Сжимы Шины N PIN Изоляторы Кросс-модули</li>
                        <li>Коробки распаячные и установочные Лампы Патроны Переходники</li>
                        <li>Наконечники Гильзы Изолента Стяжки Термоусадка</li>
                        <li>Розетки Вилки Выключатели Рамки  <br> Датчики движения</li>
                        <li>Светотехника Блоки питания  <br> Стартера Дроссели</li>
                        <li>Удлинители Сетевые фильтры <br> Переходники Тройники Колодки</li>
                        <li>Щиты Боксы Шкафы DIN-рейки</li>
                    </ul>
            </div>
         
        
            <div>
                    <div class="footer__title">О магазине</div>
                    <ul class=footer__list2>
                        <li>Новости</li>
                        <li>Как купить</li>
                        <li>Доставка</li>
                        <li>О магазине</li>
                        <li>Гарантия</li>
                        <li>Контакты</li>
                    </ul>
            </div>
    </div>
         
        
    <div class="footer__bottom">
            <div class="footer__subscript">
                        <div>
                                <p>Подписка на рассылку</p> 
                                <input type="email" name="email" id="email" placeholder="Введите ваш e-mail-адрес"> 
                                <button type="submit">Подписаться</button>
                        
                        </div> 
                        <div>
                                <p>Мы в соцсетях</p>
                                <div class="social__icons">
                                        <!-- <img src="assets/images/footer/1.png" alt=""> -->
                                        <img src="assets/images/footer/1.png" alt="">
                                        <img src="assets/images/footer/2.png" alt="">
                                        <img src="assets/images/footer/3.png" alt="">
                                        <img src="assets/images/footer/4.png" alt="">
                                        <img src="assets/images/footer/5.png" alt="">
                                </div>
                        
                        </div>
            </div>
            
            
    </div>

    <div class="footer__autor">2016 © СпецЭлектрик</div>


</div>