<!-- <div class="swiper-viewport">
        <div id="carousel0" class="swiper-container">
            <div class="swiper-wrapper">      
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_1.png" alt="NFL" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_2.png" alt="RedBull" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_3.png" alt="Sony" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_4.png" alt="Coca Cola" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_5.png" alt="Burger King" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_6.png" alt="Burger King" class="img-responsive" /></div>
                <div class="swiper-slide "><img src="../../assets/images/spec_company/companys_7.png" alt="Burger King" class="img-responsive" /></div>
            </div>
        </div>
        <div class="swiper-pagination carousel0"></div>
        <div class="swiper-pager">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        </div>

</div> -->
<div class="owl-carousel owl-theme">
  <div class="item"><img src="../../assets/images/spec_company/companys_1.png" alt="NFL" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_2.png" alt="RedBull" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_3.png" alt="Sony" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_4.png" alt="Coca Cola" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_5.png" alt="Burger King" class="img-responsive" /></div>
  <div class="item "><img src="../../assets/images/spec_company/companys_6.png" alt="Burger King" class="img-responsive" /></div>
  <div class="item "><img src="../../assets/images/spec_company/companys_7.png" alt="Burger King" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_1.png" alt="NFL" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_2.png" alt="RedBull" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_3.png" alt="Sony" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_4.png" alt="Coca Cola" class="img-responsive" /></div>
  <div class="item"><img src="../../assets/images/spec_company/companys_5.png" alt="Burger King" class="img-responsive" /></div>
</div>

   