
<div class="container-1100">
<div class="menu">
    <div class="menu__item "><a href="#">О магазине</a></div>
    <div class="menu__item "><a href="#">Услуги</a></div>
    <div class="menu__item "><a href="#">Как купить</a></div>
    <div class="menu__item "><a href="#">Доставка и оплата</a></div>
    <div class="menu__item "><a href="#">Акции</a></div>
    <div class="menu__item navigation"><a href="#">Адреса магазинов</a></div>
    <div class="menu__item "><a href="#">Контакты</a></div>
    <div id="menu__item-social">
        <div class="menu__item"><a href="https://facebook.com"><img src="../../assets/images/top_menu/face_24.jpg" alt="Facebook"></a></div>
        <div class="menu__item"><a href="https://facebook.com"><img src="../../assets/images/top_menu/face_24.jpg" alt="Facebook"></a></div>
        <div class="menu__item"><a href="https://google.com"><img src="../../assets/images/top_menu/google_24.jpg" alt="Google"></a></div>
        <div class="menu__item"><a href="https://twitter.com"><img src="../../assets/images/top_menu/twiter.png" alt="Twitter"></a></div>
        <div class="menu__item"><a href="https://bbc.coom"><img src="../../assets/images/top_menu/bbb_24.jpg" alt="Bkontact"></a></div>
        <div class="menu__item"><a href="https://instagram.com"><img src="../../assets/images/top_menu/instagg_24.jpg" alt="Instagram"></a></div>
    </div>
    
    <div class="menu-item font-calibri enter"><a href="#">Войти</a></div>
    <div class="menu-item font-calibri registration"><a href="#">Регистрация</a></div>
</div>
</div>
<div class="menu_bg"></div>