<div class="catalog-item-articl"> Артикул: {{ resultFilter.articul }}</div>
<div class="catalog-item-img">
    <!-- <img src="/assets/images/ad14.png" alt=""> -->
    <img src="{{resultFilter.picUrl}}" alt=""> 
</div>
<div class="catalog-item-title">
    <p>{{ resultFilter.title }}</p>
</div>
<div class="catalog-item-price">
    <p>цена: <span>820</span>руб.</p>
</div>
<div class="catalog-item-to-cart">
    <p>В корзину</p>
</div>
<div class="catalog-item-to-par">
    <input type="checkbox" name="compare" id="item-compare">
    <p>Сравнить</p>
</div>