<div class="filter-wrap">
    <div class="filter-block">
        <p>Бренд</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-ABB"  (change)="cheketFb('ABB')">ABB</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-EIK" (change)="cheketFb('EIK')">EIK</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-Schneider" [(ngModel)]="isChecked" (change)="cheketFb(isChecked?'Schneider':'Schneider')">Schneider</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-KEAZ">КЭАЗ</li>
        </ul>
    </div>
    <div  class="filter-block">
        <p>Тип выключателей</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-auto">Автомат</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-uso">УЗО</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-diff">Диф. автомат</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-cont">Контактор</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-rele">Реле</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-rubl">Рубильник</li>
        </ul> 
    </div>
    <div  class="filter-block">
        <p>Серия</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-s">S</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-n">N</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Количество полюсов</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-1">1</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-2">2</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-3">3</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальный ток</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-6">6</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-7">10</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-8">16</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-9">20</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-11">25</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-12">32</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-13">40</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-14">63</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальное напряжение</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-22">220</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-23">380</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Отключающая способность</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-33">4,5 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-34">6 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-35">10 kA</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальный отлючающий дифференциальный ток</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-41">10 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-42">20 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-43">30 kA</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Характеристика срабатывания</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-51">B</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-52">C</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-53">D</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Крепление</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-61">винт</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-62">на DIN-рейку</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-63">на DIN-рейку или монтажную плату</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-63">на монтажную плату</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-65">на панель через отверстия в корпусе</li>
            
        </ul> 
    </div>

    <div id="filter-button">
      <button id="filt-but">Показать товары</button>  
    </div>
    <div id="filter-reset">
        <a href="#">Сбросить фильтры</a>
    </div>     

</div>

<div class="service-wrap">
        <div class="left-menu">
            <p>Услуги</p>
        </div>
        <div id="service-menu">Электронные работы</div>
</div>

<div class="info-wrap">
    <p>Полезная информация</p>
</div>


