<div class="filter-wrap">
    <div class="filter-block">
        <p>Бренд</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">ABB</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">EIK</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Schneider</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">КЭАЗ</li>
        </ul>
    </div>
    <div  class="filter-block">
        <p>Тип выключателей</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Автомат</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">УЗО</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Диф. автомат</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Контактор</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Реле</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">Рубильник</li>
        </ul> 
    </div>
    <div  class="filter-block">
        <p>Серия</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">S</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">N</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Количество полюсов</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">1</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">2</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">3</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальный ток</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">6</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">10</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">16</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">20</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">25</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">32</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">40</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">63</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальное напряжение</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">220</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">380</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Отключающая способность</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">4,5 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">6 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">10 kA</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Номинальный отлючающий дифференциальный ток</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">10 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">20 kA</li>
            <li class="filt-item-flex-kA"><input type="checkbox" name="filter" id="item-filter">30 kA</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Характеристика срабатывания</p>
        <ul class="filter-block__items-flex">
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">B</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">C</li>
            <li class="filt-item-flex"><input type="checkbox" name="filter" id="item-filter">D</li>
            
        </ul> 
    </div> 
    <div  class="filter-block">
        <p>Крепление</p>
        <ul class="filter-block__items">
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">винт</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">на DIN-рейку</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">на DIN-рейку или монтажную плату</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">на монтажную плату</li>
            <li class="filt-item"><input type="checkbox" name="filter" id="item-filter">на панель через отверстия в корпусе</li>
            
        </ul> 
    </div>

    <div id="filter-button">
      <button id="filt-but">Показать товары</button>  
    </div>
    <div id="filter-reset">
        <a href="#">Сбросить фильтры</a>
    </div>     

</div>

<div class="service-wrap">
        <div class="left-menu">
            <p>Услуги</p>
        </div>
        <div id="service-menu">Электронные работы</div>
</div>

<div class="info-wrap">
    <p>Полезная информация</p>
</div>


