fonttahoma = Tahoma, Verdana, Segoe, sans-serif
font-calibri = Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif

.filter-wrap
    width 262px
    // height 600px
    border 1px solid #d3d3d3
    margin-top 86px
    border-radius: 15px

.filter-block>p
    margin-left 22px
    text-decoration: underline

.filter-block__items
    list-style: none
    margin-left -25px

.filt-item
    display flex
    justify-content flex-start
    margin-top 8px
    


.filter-block__items-flex
    display flex
    flex-wrap: wrap
    justify-content flex-start
    list-style: none
    margin-left -25px

.filt-item-flex, .filt-item-flex-kA
    width 65px
    


#filter-button
    display flex
    justify-content center
    margin: 15px 0

#filt-but
    padding 5px 30px
    font: 15px fonttahoma
    border-radius: 8px
    background #124bb3
    color #fff
#filter-reset
    display flex
    justify-content center
    margin: 15px 0
#filter-reset>a
    text-decoration: none
    color: black
    text-decoration: underline


.left-menu
    padding 5px 20px
    background-color #f4f4f4
    border-radius 15px 15px 0 0
    color #272727
    font 19px Tahoma, Verdana, Segoe, sans-serif
    height 42px
.left-menu>p
    margin 0
    margin-top: 10px

.service-wrap
    width 262px
    // height 600px
    border 1px solid #d3d3d3
    margin-top 35px
    border-radius: 15px

#service-menu
    display flex
    justify-content center
    margin 18px 0
    color #000000
    font-family Tahoma
    font-size 14px
    font-weight 400
    line-height 20px
    letter-spacing 0.14px
    

    
.info-wrap
    margin-top 27px
    padding 6px 20px
    background-color #f4f4f4
    border-radius 15px 
    color #000000
    font-family Tahoma
    font-size 18px
    font-weight 400
    line-height 16px
    height 46px
    display flex
    justify-content: center
    

    