
    <div class="top-menu">
            <block-menu></block-menu>
    </div>
    <div class="container-1100">
        
        <div class="wrap-header">
                <block-header></block-header>
        </div>
        
      <div class="page">
            <div class="page-left">
              
                <div class="left-menu">
                    <p>Каталог товаров</p>
                </div>
                
                <block-filter></block-filter>
              
            </div>
            
            
            <div class="page-centr">
                <form id="search-form">
                    <input type="search" name="search" id="search-form__input" placeholder="Поиск по наименованию или артикулу товара...">
                    <input type="submit" value="" id="submit" placeholder="sdf">
                </form>
                <div id="brodb">
                  <a href="/another/mondsdignwcan/index.html">Главная</a>  >  <a href="#">Каталог</a>  >  <span>Дифференциальные автоматические выключатели</span>
                </div>
                <div id="title-catalog">
                    Дифференциальные автоматические выключатели
                </div>
                <div id="catalog-sort-wrap">
                  <div id="catalog-sort">
                    <div class="catalog-sort__title">Сортировка по: <div class="catalog-sort__select">Популярности</div></div>
                  
                    <div class="catalog-sort__title">Отображать по:<div class="catalog-sort__select">10</div></div>
                  </div>
                  
                  <div class="pagination">1 2 3 4</div>
                </div>
                <div id="catalog-tovarov">
                  <div *ngFor="let cart of appServices.getFilter()" class="catalog-item"> 
                      <block-cart [resultFilter]="cart"></block-cart>
                  </div>
                   
                </div> <!-- end catalog-tovarov -->
                <div class="pagination">1 2 3 4</div>
            </div>
        </div>
        <!-- <div id="prefooter"> -->
            <block-prefooter></block-prefooter>
        <!-- </div> -->
    </div>
    <div id="footer">
        <div class="container-1100">
            <block-footer></block-footer>
        </div>
    </div>